
.heading {
  
  border: dashed # 8bc63e;
  background: red;
  height: 180 px;
  width: 300 px;
  
}

.heading__title {

  color: blue;
  text-align: center;
  letter-spacing: 0,5 em;
  text-shadow: 2 px 2 px white;
  
}

.heading__text {
  
  font-style: oblique;
  
}

.main {
  
  padding-right: 15px;
  padding-left: 15px;
  height: 170px;
  background: yellow;
  border-radius: 2em;
  box-shadow: 3px 3px;
}

.main__btn, .heading__btn {
  
  text-align: center;
  color: #2196f3;
  width: 150px;
  float: right;
  
}

.main__title {
  
  color: green;
  
}

.main__text{
  
  color: red;
  
}

.footer {
 
  margin: 20px;
  padding: 3px;
  border-radius: 10px 20px;
  background: orange;
  
}

.footer__title {
  
  color: red;
  text-align: center;
}
.footer__text {
  
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  
}
.footer__btn {
  
  margin-left: 150px;
  text-align: center;
  color: #2196f3;
  width: 150px;
 
}